//output:index.html
doctype html
html
  head
    meta(charset="utf-8")
    title Car Jumper
    script(src="js/three.min.js")
    script(src="js/car_jumper.js")
  body(style="margin:0;overflow:hidden")
